<button onclick={{action 'backToInbox'}}>Back</button>
<a onclick={{action 'deleteEmail' model}}>
     <span class="glyphicon glyphicon-trash"></span>
 </a>
<h3>{{model.subject}}</h3>
<p>From: {{model.from}}</p>
<p>To: {{model.to}}</p>
<p>{{model.message}}</p>