<button onclick={{action "backToInbox"}}>Back</button>
<button data-test="delete-email" onclick={{action "deleteEmail" model}}>
  <span class="glyphicon glyphicon-trash"></span>
</button>
<h3 data-test="email-subject">{{model.subject}}</h3>
<p data-test="email-from">From: {{model.from}}</p>
<p data-test="email-to">To: {{model.to}}</p>
<p data-test="email-message">{{model.message}}</p>