
<h5>Starred</h5>
{{#each model as |email|}}
<div style="padding: 10px">
	From: <label >{{email.from}}</label> 
	<StarButton  @starred={{email.starred}} @onClick={{action "star" email}}/>
	<div >
		{{#link-to "email" email.id}}
			{{truncate-text email.message 60}}
		{{/link-to}}
	</div>
</div>
{{/each}}

{{outlet}}