
<h5>Starred</h5>
{{#each model as |email|}}
{{#if email.starred}}
<EmailDisplay @email={{email}} @star={{action 'star'}}/>
{{else}}
{{/if}}
{{/each}}
<h5>Others</h5>
{{#each model as |email|}}
{{#if email.starred}}

{{else}}
<EmailDisplay @email={{email}} @star={{action 'star'}}/>
{{/if}}
{{/each}}

{{outlet}}